*{
	font-family: sans-serif;
}
body{
	text-decoration: none;
	width: 100vh;
	height:100vh;
	background-image:url(../img/bgg.jpeg);
	background-size:cover;
	background-position:bottom;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
}
.login-text{
	color: #fff;
}
.menu{
	position: center;
}
.container{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	padding:20px25px;
	width:300px;
	background-color:rgba(0,0,0,.7);
	box-shadow:0 0 10px rgba(255,255,255,.3);

}
./*container h1{
	text-align:center;
	color:#fafafa;
	margin-bottom:30px;
	text-transform:uppercase;
	border-bottom:4px solid #2979ff;*/
}
.container label{
	text-align:left;
	color:#90caf9;
}
.container form input{
	width:calc(100%-20px);
	padding:8px 10px;
	margin-bottom:15px;
	border:none;
	background-color:transparent;
	border-bottom:2px solid #2979ff;
	color:#fff;
	font-size:20px;
}
.container form button{
	width:100%;
	padding:5px 0;
	border:none;
	background-color:#2979ff;
	font-size:18px;
	color:#fafafa;
}
.btn:hover{
	background: #FF1046;
    text-decoration: none;
}
.login-register-text{
	color: lightblue;
}

a{
	text-decoration: none;
	background-color: #FF1046;
	border-radius: 15px;
	padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #FFFF;
}
a:hover{
	background:#2979ff;
}
