@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Pacifico', cursive;
    color: #6666ff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #6666ff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #6666ff;
    border-radius: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #FFFF;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    /* font-family: 'comic sans ms'; */
    color: #6666ff;
}

h2 {
    /* font-family: 'comic sans ms'; */
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #6666ff;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #6666ff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc0202;
    text-decoration: none;
}

a.tbl-pink {
    background: #6666ff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #ff0000;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    /* font-family: 'comic sans ms'; */
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #6666ff;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
}

/* product section */
.btn {
    padding:8px 15px;
    background-color: #6666ff;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.btn:hover {
    background: #fc5185;
    text-decoration: none;
}
.btn-delete{
    padding:3px 5px;
    background-color: red;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
}
.btn-delete:hover {
    background: #205295;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.container:after{
    content: '';
    display: block;
    clear: both;
}

.section {
    padding: 25px 0;
}
.box {
    background-color: #F1F6F5;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
   margin:10px 0 25px 0;
}
.box:after {
    content: '';
    display: block;
    clear: both;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th{
    background-color: lightblue;
}
.table tr{
    height: 30px;
}
.table tr td{
    padding: 5px 10px;
}

.col-4 {
    width:25%;
    height: 320px;
    border:1px solid #ccc;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.col-4:hover {
    box-shadow: 0 0 15px #999;
}
.col-4 img {
    width: 100%;
}
.col-4 .nama {
    color: #666;
    margin-bottom: 5px;
}
.col-4 .harga {
    font-weight: bold;
    color:#C70039;
    float: right;
}   

/* end product section */

/*detail barang*/
.col-2 {
    width: 50%;
    min-height: 200px;
    padding:10px;
    box-sizing: border-box;
    float: left;
}
.col-2 img {
    border:1px solid #f9f9f9;
    padding:5px;
    box-sizing: border-box;
}
.col-2 h3 {
    margin-bottom: 10px;
}
.col-2 h4 {
    color: #C70039;
}
.col-2 p {
    margin:15px 0;
    text-align: justify;
    line-height: 25px;
    font-size:14px;
}
/*end detail barang*/

/*footer*/
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

/*user*/
.row {
    display: flex;
}

.col-md4{
    padding: 15px;
    width: 200px;
}
.form-control{
    padding:7px;
    margin-bottom: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .container{
        width: 90%;
    }
    .col-4{
        width:  50%;
        height: 300px;

    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
    .products_section {
        margin-top: 45px;
    }
}